*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.todoContainer{
    padding: 20px 0;
    margin: 0 auto;
    width: 90%;
    text-align: center;
}
.todoContainer h1{
    margin: 40px auto;
    font-size: 50px;
    color: blue;
    text-decoration: underline 1px;
    text-shadow: 0 0 5px whitesmoke;
    cursor: pointer;
}
.form{
    margin: 80px 0;
}
#todoInput{
    width: 70%;
    padding: 10px;
    border: gray;
    border-radius: 8px;
    font-size: 20px;
    margin-right: 10px ;
}
#todoInput:focus{
    outline: 3px solid blue;
}
#todoInput::placeholder{
    font-size: 20px;
    color: black;
}
#todobtn{
    padding: 10px 100px;
    background-color: blue;
    font-size: 18px;
    color: white;
    border-radius: 10px;
    border: none;
}
#todobtn:hover{
    background-color: rgba(0, 0, 255, 0.585);
    cursor: pointer;
}
#todoList li {
    color: white;
    font-size: 25px;
    margin: 20px;
    display: grid;
    grid-template-columns: 85% 10% 5%;
    gap: 10px;  
}
#todoList li span{
    cursor: pointer;
}
#todoList li :nth-child(3){
    background-color: transparent;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 50px;
    border: none;
}
#todoList li :nth-child(3):hover{
    background-color: rgba(255, 0, 0, 0.481);
    cursor: pointer;
}
#todoList li :nth-child(2){
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}
#todoList li :nth-child(2):hover{
    background-color: rgba(0, 0, 255, 0.585);
    cursor: pointer;
}
